
<!--<html>
<head></head>
<title>My App</title>-->
<link rel="stylesheet" href="./css/css.css" type="text/css">
<link rel="stylesheet" type="text/css" href="./css/bootstrap.css">
	


	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">

			  	<div class="col-sm-2" style="text-align:right; vertical-align: middle;">

			  		<img ng-src="{{yelp[whichItem].img}}" class="img-rounded" />

			  	</div>
				

			  	<div class="col-sm-6" style="text-align:left;">

			  		<h1 style="color:#9a2452;">{{yelp[whichItem].name}}</h1>
					<br/>
				
					<!--<label>Raiting: {{yelp[whichItem].raiting}}</label>
					<br/>
					<label>Location: {{yelp[whichItem].location}}</label>
					<br/>
					<label>Phone: {{yelp[whichItem].phone}}</label>
					<br/>
					<label>Categories {{yelp[whichItem].categories}}</label>-->
			  	</div>

			  	<div class="col-sm-4" style="text-align:left;">
			  		<label>Raiting: {{yelp[whichItem].raiting}}</label>
					<br/>
					<label>Location: {{yelp[whichItem].location}}</label>
					<br/>
					<label>Phone: {{yelp[whichItem].phone}}</label>
					<br/>
					<label>Categories {{yelp[whichItem].categories}}</label>

			  	</div>

				
				 
			</div>


			<br/>

			<br/>

			

		</div>


		<br/>

		<div class="line"></div>

		<br/>

		<div class="row">
			<div class="col-sm-12">

				

				<div class="col-sm-8" style="text-align:right;">
					
					<h1 >Review</h1>
					
					
					<label>{{yelp[whichItem].snippet_text}}</label>
				</div>
				<div class="col-sm-4" style="text-align:left;">
					<img ng-src="{{yelp[whichItem].snippet_image_url}}" class="img-circle"/>

				</div>


			</div>

			
		</div>



		<br/>
		<br/>
		<br/>
		<br/>

		<div class="row">

			<div class="col-sm-4">
				<a href="#/detail/{{prevItem}}">Prev</a>
			</div>

			<div class="col-sm-4">

				<a href="index.php"> Back to search </a>

			</div>

			<div class="col-sm-4">
				<a href="#/detail/{{nextItem}}">Next</a>
			</div>

		</div>


	</div>





